body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-color: hsl(216, 12%, 8%);
}

#container {
  width: 30rem;
  margin: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background-color: hsl(213, 19%, 18%);
}

#fav-div {
  align-self: flex-start;
}

#content-div {
}
h1 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
}

#submit {
  color: hsl(0, 0%, 100%);
}
